.project {
    display: flex;
    justify-content: space-around;
    border: 1px dotted grey;
    width: 600px;
    margin: 50px auto;
}

.counter {
    border: 1px solid grey;
    background-color: #fcdbe1;
    border-radius: 10px;
    width: 230px;
    height: 230px;
    margin: 50px auto;
}